/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




/* common style */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* top banner section */
.container {
    width: 80%;
    height: 585px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    margin-top: 50px;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.left-content {
    width: 531px;
    height: 424px;
}

.top-banner-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.top-banner-text {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.top-banner-btn {
    width: 187px;
    height: 56px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: 1s;
    background-image: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200%;
    background-position: 0%;
}

.top-banner-btn:hover {
    cursor: pointer;
    color: black;
    background-position: 100%;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px white;
}

.fa-greater-than {
    padding-left: 10px;
    color: white;
}

.top-banner .right-content img {
    width: 581px;
    height: 613px;
}




/* top banner bottom section */
.blog-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog-section {
    display: flex;
    gap: 20px;
}

.side-link {
    width: 312px;
    height: 312px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.side-link-btn {
    width: 252px;
    height: 64px;
    background-color: white;
    text-align: center;
    line-height: 64px;
    border-radius: 5px;
}

.side-link-btn a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.active {
    background-color: red;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.blog {
    width: 300px;
    height: 340px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}

.blog .blog-thumbnail img {
    width: 100%;
}

.blog-contents {
    padding: 10px 15px 0px 15px;
}

.blog-btn {
    background-color: white;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}

.blog-btn:hover {
    background-color: grey;
    color: white;
}

.blog-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.blog-info span {
    margin: 0 20px;
}

.view-more {
    display: none;
}




/* footer */
.footer {
    width: 100%;
    height: 300px;
    background-color: #161616;
    color: white;
}

.footer-container {
    text-align: center;
}

.footer-title {
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

hr {
    width: 80%;
    margin: 20px 140px 20px 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.footer-link a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.footer-link a:hover {
    color: blue;
}

.footer-icon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-icon i {
    margin-right: 20px;
    font-size: 20px;
}

.footer-icon i:hover {
    color: blue;
}





/* upcoming html file section */

/* upcoming top banner section */
.upcoming-container {
    width: 80%;
    height: 585px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    margin-top: 50px;
}

.upcoming-top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.upcoming-left-content {
    width: 531px;
    height: 424px;
}

.upcoming-top-banner-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.upcoming-top-banner-text {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.upcoming-top-banner-btn {
    width: 187px;
    height: 56px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: 1s;
    background-image: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200%;
    background-position: 0%;
}

.upcoming-top-banner-btn:hover {
    cursor: pointer;
    color: black;
    background-position: 100%;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px white;
}

.fa-greater-than {
    padding-left: 10px;
    color: white;
}

.upcoming-top-banner .upcoming-right-content img {
    width: 581px;
    height: 613px;
}




/* upcoming bottom section */
.match-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.match-section {
    display: flex;
    gap: 20px;
}

.upcoming-side-link {
    width: 312px;
    height: 312px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.upcoming-side-link-btn {
    width: 252px;
    height: 64px;
    background-color: white;
    text-align: center;
    line-height: 64px;
    border-radius: 5px;
}

.upcoming-side-link-btn a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.active {
    background-color: red;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.match {
    width: 270px;
    height: 150px;
    border: 1px solid #dbdbdb;
    border-radius: 11px;
    padding: 30px 15px 30px 15px;
}

.team-flag {
    display: flex;
    align-items: center;
    gap: 20px;
}

.match img {
    width: 100%;
}

.match-info {
    padding: 10px 15px 15px 15px;
}

.match-info h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.match-time {
    text-align: center;
    font-size: 16px;
    color: #4d4d4d;
}



/* all gourp html section */

/* all group top banner section */
.group-container {
    width: 80%;
    height: 585px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    margin-top: 50px;
}

.group-top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.group-left-content {
    width: 531px;
    height: 424px;
}

.group-top-banner-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.group-top-banner-text {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.group-top-banner-btn {
    width: 187px;
    height: 56px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: 1s;
    background-image: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200%;
    background-position: 0%;
}

.group-top-banner-btn:hover {
    cursor: pointer;
    color: black;
    background-position: 100%;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px white;
}

.fa-greater-than {
    padding-left: 10px;
    color: white;
}

.group-top-banner .group-right-content img {
    width: 581px;
    height: 613px;
}

/* all group bottom section */
.group-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.group-section {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.group-side-link {
    width: 250px;
    height: 302px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.group-side-link-btn {
    width: 220px;
    height: 64px;
    background-color: white;
    text-align: center;
    line-height: 64px;
    border-radius: 5px;
}

.group-side-link-btn a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.active {
    background-color: red;
}

.groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.group {
    width: 225px;
    height: 260px;
    border: 1px solid #dbdbdb;
    border-radius: 11px;
    padding: 10px 0px 30px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}




/*-------------------------------------------------
   Responsive design for small device (index.html) 
--------------------------------------------------*/
@media screen and (max-width:688px) {

    /* ---top banner--- */
    .top-banner {
        flex-direction: column;
    }

    .left-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-banner-title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .top-banner-text {
        width: 285px;
        height: 120px;
        text-align: center;
    }

    .top-banner-btn {
        width: 150px;
        height: 40px;
    }

    .top-banner .right-content img {
        margin-top: -150px;
        width: 340px;
        height: 340px;
    }

    /* ---blog container--- */
    .blog-section {
        flex-direction: column;
        align-items: center;
    }

    .side-link {
        margin-top: -50px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    /* ----footer style----- */
    .footer {
        height: 60vh;
    }

    .footer-container {
        margin-top: -50px;
    }

    .footer-container hr {
        width: 100%;
        margin: 10px auto 0px auto;
    }

    .footer-link {
        flex-direction: column;
        align-items: center;
    }
}

/*----------------------------------------------------
   Responsive design for small device(upcoming.html) 
-----------------------------------------------------*/
@media screen and (max-width:688px) {

    /* ---top banner--- */
    .upcoming-top-banner {
        flex-direction: column;
    }

    .upcoming-left-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upcoming-top-banner-title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .upcoming-top-banner-text {
        width: 285px;
        height: 120px;
        text-align: center;
    }

    .upcoming-top-banner-btn {
        width: 150px;
        height: 40px;
    }

    .upcoming-top-banner .upcoming-right-content img {
        margin-top: -150px;
        width: 340px;
        height: 340px;
    }

    /* ---blog container--- */
    .match-section {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-side-link {
        margin-top: -50px;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/*------------------------------------------------
   Responsive design for small device(group.html) 
--------------------------------------------------*/
@media screen and (max-width:688px) {

    /* ---top banner--- */
    .group-top-banner {
        flex-direction: column;
    }

    .group-left-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .group-top-banner-title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .group-top-banner-text {
        width: 285px;
        height: 120px;
        text-align: center;
    }

    .group-top-banner-btn {
        width: 150px;
        height: 40px;
    }

    .group-top-banner .group-right-content img {
        margin-top: -150px;
        width: 340px;
        height: 340px;
    }

    /* ---blog container--- */
    .group-section {
        flex-direction: column;
        align-items: center;
    }

    .group-side-link {
        margin-top: -50px;
    }

    .groups {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/*-------------------------------------------------
   Responsive design for medium device(index.html) 
---------------------------------------------------*/
@media screen and (min-width:688px) and (max-width: 992px) {

    /* ---top banner--- */
    .container {
        height: 295px;
    }

    .top-banner {
        width: 50%;
        justify-content: space-between;
    }

    .left-content {
        width: 300px;
        margin-top: 30px;
    }

    .top-banner-title {
        width: 370px;
        font-size: 40px;
        line-height: 40px;
    }

    .top-banner-text {
        width: 360px;
        text-align: justify;
        font-size: 15px;
    }

    .top-banner-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .right-content {
        margin-top: -100px;
    }

    .top-banner .right-content img {
        width: 300px;
        height: 300px;
        margin-left: 80px;
    }

    /* bottom section */
    .blog-section {
        flex-direction: column;
        align-items: center;
    }

    .side-link {
        align-items: center;
        width: 85%;
        flex-direction: row;
        background-color: white;
        margin-top: -100px;
    }

    .side-link-btn {
        border: 1px solid grey;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 40px;
        margin-top: -100px;
    }

    .view-more {
        display: block;
        width: 150px;
        height: 60px;
        background: red;
        border-radius: 5px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }

    .view-more a {
        text-align: center;
        line-height: 64px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
    }

    /* footer section */
    .footer {
        height: 70vh;
    }

    .footer-container {
        margin-top: -50px;
    }

    .footer-container hr {
        width: 100%;
        margin: 10px auto 0px auto;
    }

    .footer-link {
        align-items: center;
    }
}

/*---------------------------------------------------
   Responsive design for medium device(upcoming.html) 
-----------------------------------------------------*/
@media screen and (min-width:688px) and (max-width: 992px) {

    /* ---top banner--- */
    .upcoming-container {
        height: 295px;
    }

    .upcoming-top-banner {
        width: 50%;
        justify-content: space-between;
    }

    .upcoming-left-content {
        width: 300px;
        margin-top: 30px;
    }

    .upcoming-top-banner-title {
        width: 370px;
        font-size: 40px;
        line-height: 40px;
    }

    .upcoming-top-banner-text {
        width: 360px;
        text-align: justify;
        font-size: 15px;
    }

    .upcoming-top-banner-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .upcoming-right-content {
        margin-top: -100px;
    }

    .upcoming-top-banner .upcoming-right-content img {
        width: 300px;
        height: 300px;
        margin-left: 80px;
    }

    /* bottom section */
    .match-section {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-side-link {
        align-items: center;
        width: 85%;
        flex-direction: row;
        background-color: white;
        margin-top: -100px;
    }

    .upcoming-side-link-btn {
        border: 1px solid grey;
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 40px;
        margin-top: -100px;
    }

    /* ----footer----- */
    .footer {
        height: 70vh;
    }

    .footer-container {
        margin-top: -50px;
    }

    .footer-container hr {
        width: 100%;
        margin: 10px auto 0px auto;
    }

    .footer-link {
        align-items: center;
    }
}

/*-------------------------------------------------
   Responsive design for medium device(group.html) 
---------------------------------------------------*/
@media screen and (min-width:688px) and (max-width: 992px) {

    /* ---top banner--- */
    .group-container {
        height: 295px;
    }

    .group-top-banner {
        width: 50%;
        justify-content: space-between;
    }

    .group-left-content {
        width: 300px;
        margin-top: 30px;
    }

    .group-top-banner-title {
        width: 370px;
        font-size: 40px;
        line-height: 40px;
    }

    .group-top-banner-text {
        width: 360px;
        text-align: justify;
        font-size: 15px;
    }

    .group-top-banner-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .group-right-content {
        margin-top: -100px;
    }

    .group-top-banner .group-right-content img {
        width: 300px;
        height: 300px;
        margin-left: 80px;
    }

    /* bottom section */
    .group-section {
        flex-direction: column;
        align-items: center;
    }

    .group-side-link {
        align-items: center;
        width: 85%;
        flex-direction: row;
        background-color: white;
        margin-top: -100px;
    }

    .group-side-link-btn {
        border: 1px solid grey;
    }

    .groups {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 40px;
        margin-top: -100px;
    }

    /* ----footer----- */
    .footer {
        height: 70vh;
    }

    .footer-container {
        margin-top: -50px;
    }

    .footer-container hr {
        width: 100%;
        margin: 10px auto 0px auto;
    }

    .footer-link {
        align-items: center;
    }
}